<form class="container" [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input [ngClass]="{'is-invalid' : username.errors && username.touched}" 
           type="text" 
           class="form-control" 
           placeholder="Username" 
           formControlName="username">
    <div class="invalid-feedback">Please choose a username</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid' : city.errors && city.touched}" 
           type="text" 
           class="form-control" 
           placeholder="City" 
           formControlName="city">
    <div class="invalid-feedback">Please choose a city</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid' : country.errors && country.touched}" 
           type="text" 
           class="form-control" 
           placeholder="Country" 
           formControlName="country">
    <div class="invalid-feedback">Please choose a country</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid' : dateOfBirth.errors && dateOfBirth.touched}" 
           type="text" 
           bsDatepicker [bsConfig]="bsConfig" 
           class="form-control" 
           placeholder="1/1/1985" 
           formControlName="dateOfBirth">
    <div class="invalid-feedback">Please choose a date</div>
  </div>

  <div class="form-group">
    <input 
      [ngClass]="{'is-invalid' : password.errors && password.touched}" 
      type="password" 
      class="form-control" 
      placeholder="Password" 
      formControlName="password">
    <div class="invalid-feedback" 
         *ngIf="password.hasError('required') && 
                password.touched">
         Password is required
     </div>
     <div class="invalid-feedback" 
         *ngIf="password.hasError('minlength') && 
                password.touched">
         Password must be at least 4 characters
     </div>
     <div class="invalid-feedback" 
         *ngIf="password.hasError('maxlength') && 
                password.touched">
          Password cannot exceed 8 characters
     </div>
  </div>

  <div class="form-group">
    <input 
      [ngClass]="{'is-invalid' : confirmPassword.errors 
              && confirmPassword.touched
              || confirmPassword.touched
              && registerForm.hasError('mismatch')}" 
      type="password" 
      class="form-control" 
      placeholder="Confirm Password" 
      formControlName="confirmPassword">
      <div class="invalid-feedback" 
           *ngIf="confirmPassword.hasError('required') && 
                  confirmPassword.touched">
         Password is required
      </div>
      <div class="invalid-feedback" 
         *ngIf="registerForm.hasError('mismatch') && 
                confirmPassword.touched">
         Passwords must match
      </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" 
            [title]="registerForm.valid ? 'Register your data' : 'Disabled until form data is valid.'"
            [disabled]="!registerForm.valid">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>